In [16]:
sql(
    '''
    SELECT 
        order_id, order_date, segment, region, sales,
        PERCENT_RANK() OVER (PARTITION BY region ORDER BY sales DESC) sales_rank
    FROM superstore
    WHERE order_date BETWEEN (SELECT MIN(order_date) FROM superstore) AND 
                            (SELECT MAX(order_date) FROM superstore);
    '''
)

            order_id order_date      segment   region      sales  sales_rank
0     CA-2016-118689 2016-10-02    Corporate  Central  17499.950    0.000000
1     CA-2014-116904 2014-09-23     Consumer  Central   9449.950    0.000565
2     CA-2014-139892 2014-09-08     Consumer  Central   8159.952    0.001130
3     CA-2017-138289 2017-01-16     Consumer  Central   5443.960    0.001695
4     US-2017-167402 2017-01-13    Corporate  Central   4164.050    0.002260
...              ...        ...          ...      ...        ...         ...
7757  CA-2014-143168 2014-10-18     Consumer     West      1.344    0.998411
7758  US-2017-162068 2017-12-28    Corporate     West      1.188    0.998808
7759  CA-2015-106978 2015-09-28     Consumer     West      1.080    0.999205
7760  US-2017-100209 2017-07-09     Consumer     West      1.080    0.999205
7761  CA-2017-126536 2017-10-12  Home Office     West      0.990    1.000000

[7762 rows x 6 columns]