In [28]:
# trend line

trendline = sql(
    '''
    WITH trend_line as
        (SELECT slope, 
                y_bar_max - x_bar_max * slope as intercept
         FROM
            (SELECT SUM((discount - x_bar) * (profit - y_bar)) / SUM((discount - x_bar) * (discount- x_bar)) as slope,
                    MAX(x_bar) as x_bar_max,
                    MAX(y_bar) as y_bar_max
            FROM 
                (SELECT discount, AVG(discount) OVER() as x_bar,
                        profit, AVG(profit) OVER() as y_bar
                 FROM superstore
                ) data1
            ) data2
        )
    
    SELECT Order_Date, Category, Sales, Discount,
            (Discount * (SELECT slope FROM trend_line) + (SELECT intercept FROM trend_line)) as profit_trend_line
    FROM superstore;
    '''
)

trendline

     Order_Date         Category      Sales  Discount  profit_trend_line
0    2016-11-08        Furniture   261.9600      0.00          68.565371
1    2016-11-08        Furniture   731.9400      0.00          68.565371
2    2016-06-12  Office Supplies    14.6200      0.00          68.565371
3    2015-10-11        Furniture   957.5775      0.45         -49.599474
4    2015-10-11  Office Supplies    22.3680      0.20          16.047662
...         ...              ...        ...       ...                ...
7757 2015-11-20  Office Supplies     9.6120      0.70        -115.246610
7758 2017-11-03       Technology   199.7500      0.00          68.565371
7759 2017-11-03        Furniture  1673.1840      0.20          16.047662
7760 2014-05-04        Furniture    12.1800      0.00          68.565371
7761 2014-05-04  Office Supplies    57.6800      0.00          68.565371

[7762 rows x 5 columns]